<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<table class="table">
	<thead>
		<tr>
			<th>№ пары</th>
			<th>Начало занятий</th>
			<th>Окончание занятий</th>
			<th>Предмет</th>
			<th>Вид занятий</th>
			<th>ФИО преподавателя</th>
			<th>№ аудитории</th>
			<th>Ссылка</th>
		</tr>
	</thead>
	<tbody><tr><td>1</td>
<td>9-00</td>
<td>10-30</td>
<td>Теория вероятностей и математическая статистика</td>
<td>лк</td>
<td>Лежнина Ю.А.</td>
<td>А-16</td>
<td>None</td></tr>
<tr><td>2</td>
<td>10-40</td>
<td>12-10</td>
<td>Моделирование динамических систем</td>
<td>лк</td>
<td>Ледовская Е.В.</td>
<td>А-16</td>
<td>None</td></tr>
<tr><td>3</td>
<td>12-40</td>
<td>14-10</td>
<td>1,3,5,7,9 н. Технология разработки программных приложений</td>
<td>лк</td>
<td>Туманова М.Б.</td>
<td>Д</td>
<td>https://online-edu.mirea.ru</td></tr>
<tr><td>4</td>
<td>14-20</td>
<td>15-50</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr><td>5</td>
<td>16-20</td>
<td>17-50</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr><td>6</td>
<td>18-00</td>
<td>19-30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td></tr>


	</tbody>
</table>
</body>
</html>